
.main{
    margin: 2px 2px;
    padding-top: 10px;
    background-color: aliceblue;
    box-shadow: 2px 2px 4px black;
    align-items: center;
   padding-left: 10px;

}
.CoreNav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}
.list{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap:24px;
    margin-right: 380px;
}
.main-two{
    display: flex;
    gap: 24px;
    float: end;

}

.menu-item {
    display: flex;
    flex-wrap: nowrap;
  position: relative;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.menu-item:hover {
  background: #e9ecef;
  border-radius: 5px;
}

.dropdown {
  list-style: none;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  animation: fadeOut 0.3s ease;
}

.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.dropdown li:hover {
  background: #1164b8;
}
.log{
    display: inline;
}
.log:hover{
    cursor: pointer;
}